Repository tchivs/flink, changes with the owners that .github/CODEOWNERS names for each.
All owners: @confluentinc/flink, @confluentinc/flink-sql, @confluentinc/flink-storage, @confluentinc/matrix

[fix] remove unused getmodel call (#806)
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlAlterModelConverter.java
Owners: @confluentinc/flink

[AUTO-505] Write proper JSON plan into sparse ExecutionGraph
  flink-runtime/src/main/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraph.java
  flink-runtime/src/main/java/org/apache/flink/runtime/scheduler/adaptive/AdaptiveScheduler.java
  flink-runtime/src/test/java/org/apache/flink/runtime/dispatcher/DispatcherTest.java
  flink-runtime/src/test/java/org/apache/flink/runtime/executiongraph/ArchivedExecutionGraphTest.java
Owners: @confluentinc/flink

Add ML_EVALUATE_ALL function support (#805)
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/MLEvaluateAllFunction.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/MLFunctionsModule.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/ModelVersions.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/service/DefaultServiceTasks.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/MLEvaluateAllFunctionTest.java
Owners: @confluentinc/matrix, @confluentinc/flink-sql

[MATRIX-92] Add optional provider option configs (#807)
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/AzureMLRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/AzureOpenAIRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/BedrockRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/GoogleAIRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/MLModelCommonConstants.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/OpenAIRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/RemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/RemoteModelValidator.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/SageMakerRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/VertexAIRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/test/java/io/confluent/flink/table/modules/ml/RemoteModelValidatorTest.java
Owners: @confluentinc/matrix

[MATRIX-6] fix registering ml functions (#809)
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/service/DefaultServiceTasks.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/service/DefaultServiceTasksTest.java
Owners: @confluentinc/flink-sql

Update ConfluentManagedTableUtils.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/connectors/ConfluentManagedTableUtils.java
Owners: @confluentinc/flink-sql, @confluentinc/flink-storage

[MATRIX-88] error classification for models (#810)
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/MLModelCommonConstants.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/RemoteModelValidator.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/test/java/io/confluent/flink/table/modules/ml/RemoteModelValidatorTest.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/utils/ClassifiedException.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/utils/ClassifiedExceptionTest.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/catalog/CatalogManager.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/DescribeModelOperation.java
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ddl/AlterModelOptionsOperation.java
  flink-table/flink-table-api-java/src/test/java/org/apache/flink/table/catalog/GenericInMemoryCatalogTest.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/exceptions/ModelNotExistException.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Owners: @confluentinc/matrix, @confluentinc/flink-sql, @confluentinc/flink

[MATRIX-104] endpoint validation during model creation (#815)
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/AzureMLRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/AzureOpenAIRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/BedrockRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/GoogleAIRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/MLModelSupportedProviders.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/OpenAIRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/RemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/RemoteModelValidator.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/SageMakerRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/VertexAIRemoteModelOptions.java
  cc-flink-extensions/cc-flink-managed-table-validation/src/test/java/io/confluent/flink/table/modules/ml/RemoteModelValidatorTest.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/AzureMLProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/BedrockProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/GoogleAIProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/OpenAIProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/SagemakerProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/VertexAIProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/AzureMLProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/BedrockProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/GoogleAIProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/OpenAIProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/SagemakerProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/VertexAIProviderTest.java
Owners: @confluentinc/matrix

[MATRIX-38] Update default model input formats. (#816)
  cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/MLModelSupportedProviders.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/AzureMLProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/BedrockProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/SagemakerProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/VertexAIProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/formats/MLFormatterUtil.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/formats/SinglePromptInputFormatter.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/formats/TextGenerationParams.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/AzureMLProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/BedrockProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/OpenAIProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/VertexAIProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/formats/BedrockInputFormatterTest.java
Owners: @confluentinc/matrix

[SQL-1906] Prohibit creating a protobuf schema with TIMESTAMP_LTZ precision different from 9
  cc-flink-extensions/cc-flink-schema-converters/src/main/java/io/confluent/flink/formats/converters/protobuf/FlinkToProtoSchemaConverter.java
  cc-flink-extensions/cc-flink-schema-converters/src/test/java/io/confluent/flink/formats/converters/protobuf/FlinkToProtoSchemaConverterTest.java
Owners: @confluentinc/flink-sql

[MATRIX-97] Better error handling of remote model responses. (#818)
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/AzureMLProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/BedrockProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/GoogleAIProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/MLModelRuntime.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/MLModelRuntimeProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/OpenAIProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/SagemakerProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/VertexAIProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/formats/CSVOutputParser.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/formats/DataSerializer.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/formats/JsonArrayOutputParser.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/formats/JsonObjectOutputParser.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/formats/TFServingOutputParser.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/formats/TritonOutputParser.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/AzureMLProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/GoogleAIProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/OpenAIProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/SagemakerProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/VertexAIProviderTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/formats/TritonOutputParserTest.java
Owners: @confluentinc/matrix

[SQL-1913] Clear reused ObjectNode between records
  cc-flink-extensions/cc-flink-schema-registry/src/main/java/io/confluent/flink/formats/registry/json/RowDataToJsonConverters.java
  cc-flink-extensions/cc-flink-schema-registry/src/test/java/io/confluent/flink/formats/registry/json/JsonRegistrySerializationSchemaTest.java
Owners: @confluentinc/flink-sql

[SQL-1915] Fix JSON array items mapping (#821)
  cc-flink-extensions/cc-flink-schema-converters/src/main/java/io/confluent/flink/formats/converters/json/FlinkToJsonSchemaConverter.java
  cc-flink-extensions/cc-flink-schema-converters/src/main/java/io/confluent/flink/formats/converters/json/JsonToFlinkSchemaConverter.java
  cc-flink-extensions/cc-flink-schema-converters/src/test/java/io/confluent/flink/formats/converters/json/CommonMappings.java
  cc-flink-extensions/cc-flink-schema-converters/src/test/java/io/confluent/flink/formats/converters/json/JsonToFlinkSchemaConverterTest.java
Owners: @confluentinc/flink-sql

[FLINKCC-1255] Add missing synchronization in CompactionTracker
  flink-state-backends/flink-statebackend-rocksdb/src/main/java/org/apache/flink/contrib/streaming/state/sstmerge/CompactionTracker.java
Owners: @confluentinc/flink

[SQL-1914] Expose Catalog and Function Names from tables `ShowFunctionsOperation` (#819)
  flink-table/flink-table-api-java/src/main/java/org/apache/flink/table/operations/ShowFunctionsOperation.java
Owners: @confluentinc/flink

[MATRIX-124] add rsa signing functionality (#823)
  cc-flink-extensions/cc-flink-compute-credentials/src/main/java/io/confluent/flink/compute/credentials/InMemoryCredentialDecrypterImpl.java
  cc-flink-extensions/cc-flink-credentials/src/main/java/io/confluent/flink/credentials/AbstractCredentialDecrypterImpl.java
  cc-flink-extensions/cc-flink-credentials/src/main/java/io/confluent/flink/credentials/CredentialDecrypter.java
  cc-flink-extensions/cc-flink-credentials/src/main/java/io/confluent/flink/credentials/FileCredentialDecrypterImpl.java
  cc-flink-extensions/cc-flink-credentials/src/test/java/io/confluent/flink/credentials/FileCredentialDecrypterImplTest.java
  cc-flink-extensions/cc-flink-credentials/src/test/java/io/confluent/flink/credentials/utils/MockCredentialDecrypter.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/utils/MlUtils.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/TestUtils.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/utils/MlUtilsTest.java
Owners: @confluentinc/flink, @confluentinc/flink-sql

[MATRIX-99] Metrics for Remote Model calls. (#827)
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/AzureMLProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/BedrockProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/GoogleAIProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/MLEvaluateFunction.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/MLFunctionMetrics.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/MLModelRuntime.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/MLModelRuntimeProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/MLPredictFunction.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/OpenAIProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/SagemakerProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/VertexAIProvider.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/formats/JsonObjectOutputParser.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/formats/TFServingOutputParser.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/MLModelRuntimeTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/MockOkHttpClient.java
Owners: @confluentinc/matrix

.github/CODEOWNERS:

*	@confluentinc/flink

cc-flink-extensions/cc-flink-table-extended	@confluentinc/flink-sql
cc-flink-extensions/cc-flink-managed-table-validation	@confluentinc/flink-sql @confluentinc/flink-storage
cc-flink-extensions/cc-flink-schema-converters	@confluentinc/flink-sql
cc-flink-extensions/cc-flink-schema-registry	@confluentinc/flink-sql
flink-connectors/confluent-connector-kafka  @confluentinc/flink-storage

# Matrix specific extension code
cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/	@confluentinc/matrix
cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/	@confluentinc/matrix
cc-flink-extensions/cc-flink-managed-table-validation/src/main/java/io/confluent/flink/table/modules/ml/ @confluentinc/matrix
cc-flink-extensions/cc-flink-managed-table-validation/src/test/java/io/confluent/flink/table/modules/ml/ @confluentinc/matrix
