Repository tchivs/flink, changes with the owners that .github/CODEOWNERS names for each.
All owners: @confluentinc/flink-core, @confluentinc/flink-sql, @confluentinc/flink-storage, @confluentinc/matrix

[MATRIX-213] added java doc comment to MLMinMaxScalarFunctionTest Class
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/functions/MLMinMaxScalarFunctionTest.java
Owners: @confluentinc/matrix

[MATRIX-213] Spotless apply
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/functions/MLMinMaxScalarFunction.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/functions/MLMinMaxScalarFunctionTest.java
Owners: @confluentinc/matrix

Revert "[FLINKCC-1345] Update catalog to receive full options on `alter model set` options"
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlAlterModelConverter.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlDdlToOperationConverterTest.java
Owners: @confluentinc/flink-core

[MATRIX-213] Support for out of range value, NaN value, Infinite value. Added helper function to get value from object.
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/functions/MLMinMaxScalarFunction.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/functions/MLMinMaxScalarFunctionTest.java
Owners: @confluentinc/matrix

[MATRIX-213] Added Long type check for first argument
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/functions/MLMinMaxScalarFunction.java
Owners: @confluentinc/matrix

[SQL-2087] Fix BINARY and VARBINARY types in AVRO (#974)
  cc-flink-extensions/cc-flink-schema-converters/src/main/java/io/confluent/flink/formats/converters/avro/AvroToFlinkSchemaConverter.java
  cc-flink-extensions/cc-flink-schema-converters/src/main/java/io/confluent/flink/formats/converters/avro/FlinkToAvroSchemaConverter.java
  cc-flink-extensions/cc-flink-schema-converters/src/test/java/io/confluent/flink/formats/converters/avro/CommonMappings.java
  cc-flink-extensions/cc-flink-schema-converters/src/test/java/io/confluent/flink/formats/converters/avro/util/UnionUtil.java
Owners: @confluentinc/flink-sql

Revert "[FLINKCC-1345] Convert alter model reset to AlterModelOptionsOperation" (#975)
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/utils/ClassifiedExceptionTest.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlAlterModelConverter.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlDdlToOperationConverterTest.java
  flink-table/flink-table-planner/src/test/scala/org/apache/flink/table/api/TableEnvironmentTest.scala
Owners: @confluentinc/flink-sql, @confluentinc/flink-core

[SQL-1948] Add ConfluentCatalogView (#976)
  cc-flink-extensions/cc-flink-remote-udfs-integration-tests/src/test/java/io/confluent/flink/table/modules/remoteudf/mock/MockedCatalog.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/catalog/ConfluentCatalogView.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/infoschema/InfoSchemaTables.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/infoschema/InfoSchemaExecutionTest.java
Owners: @confluentinc/flink-core, @confluentinc/flink-sql

modelChange
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/ModelChange.java
Owners: @confluentinc/flink-core

[MATRIX-219] Add ModelChange and use it in converting SqlAlterModelSet
  flink-table/flink-sql-parser/src/main/java/org/apache/flink/sql/parser/ddl/SqlAlterModelSet.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/CatalogModel.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/DefaultCatalogModel.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/DefaultResolvedCatalogModel.java
  flink-table/flink-table-common/src/main/java/org/apache/flink/table/catalog/ModelChange.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/operations/SqlAlterModelConverter.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/operations/SqlDdlToOperationConverterTest.java
Owners: @confluentinc/flink-core

[FRT-503] Adds a batch implementation of UDFs (#961)
  cc-flink-extensions/cc-flink-remote-udfs-integration-tests/src/test/java/io/confluent/flink/table/modules/remoteudf/RemoteUdfIntegrationTest.java
  cc-flink-extensions/cc-flink-remote-udfs-integration-tests/src/test/java/io/confluent/flink/table/modules/remoteudf/mock/MockedUdfGateway.java
  cc-flink-extensions/cc-flink-remote-udfs/src/main/java/io/confluent/flink/table/modules/remoteudf/BatchRemoteScalarFunction.java
  cc-flink-extensions/cc-flink-remote-udfs/src/main/java/io/confluent/flink/table/modules/remoteudf/ConfiguredRemoteScalarFunction.java
  cc-flink-extensions/cc-flink-remote-udfs/src/main/java/io/confluent/flink/table/modules/remoteudf/RemoteUdfMetrics.java
  cc-flink-extensions/cc-flink-remote-udfs/src/main/java/io/confluent/flink/table/modules/remoteudf/RemoteUdfModule.java
  cc-flink-extensions/cc-flink-remote-udfs/src/main/java/io/confluent/flink/table/modules/remoteudf/RemoteUdfRuntime.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/service/DefaultServiceTasks.java
  cc-flink-extensions/cc-flink-udf-adapter-api/src/main/java/io/confluent/flink/udf/adapter/api/AdapterOptions.java
  cc-flink-extensions/cc-flink-udf-adapter-api/src/main/java/io/confluent/flink/udf/adapter/api/RemoteUdfSerialization.java
  cc-flink-extensions/cc-flink-udf-adapter-api/src/main/java/io/confluent/flink/udf/adapter/api/ThreadLocalRemoteUdfSerialization.java
  cc-flink-extensions/cc-flink-udf-adapter-api/src/main/java/io/confluent/flink/udf/adapter/api/UdfSerialization.java
  cc-flink-extensions/cc-flink-udf-adapter/src/main/java/io/confluent/flink/udf/adapter/ScalarFunctionHandler.java
  cc-flink-extensions/cc-flink-udf-adapter/src/main/java/io/confluent/flink/udf/adapter/serde/SerDeScalarFunctionCallAdapter.java
  cc-flink-extensions/cc-flink-udf-adapter/src/test/java/io/confluent/flink/udf/adapter/AdapterPerformanceTest.java
  cc-flink-extensions/cc-flink-udf-adapter/src/test/java/io/confluent/flink/udf/adapter/ScalarFunctionHandlerTest.java
  cc-flink-extensions/cc-flink-udf-adapter/src/test/java/io/confluent/flink/udf/adapter/TestUtil.java
Owners: @confluentinc/flink-core, @confluentinc/flink-sql

[SQL-2086] Add a flink.version property to all 3 formats (#977)
  cc-flink-extensions/cc-flink-failure-enrichers/src/main/resources/META-INF/NOTICE
  cc-flink-extensions/cc-flink-schema-converters/pom.xml
  cc-flink-extensions/cc-flink-schema-converters/src/main/java/io/confluent/flink/formats/converters/avro/CommonConstants.java
  cc-flink-extensions/cc-flink-schema-converters/src/main/java/io/confluent/flink/formats/converters/avro/FlinkToAvroSchemaConverter.java
  cc-flink-extensions/cc-flink-schema-converters/src/main/java/io/confluent/flink/formats/converters/json/CommonConstants.java
  cc-flink-extensions/cc-flink-schema-converters/src/main/java/io/confluent/flink/formats/converters/json/FlinkToJsonSchemaConverter.java
  cc-flink-extensions/cc-flink-schema-converters/src/main/java/io/confluent/flink/formats/converters/json/JsonToFlinkSchemaConverter.java
  cc-flink-extensions/cc-flink-schema-converters/src/main/java/io/confluent/flink/formats/converters/protobuf/CommonConstants.java
  cc-flink-extensions/cc-flink-schema-converters/src/main/java/io/confluent/flink/formats/converters/protobuf/FlinkToProtoSchemaConverter.java
  cc-flink-extensions/cc-flink-schema-converters/src/test/java/io/confluent/flink/formats/converters/avro/CommonMappings.java
  cc-flink-extensions/cc-flink-schema-converters/src/test/java/io/confluent/flink/formats/converters/json/CommonMappings.java
  cc-flink-extensions/cc-flink-schema-converters/src/test/java/io/confluent/flink/formats/converters/protobuf/CommonMappings.java
  cc-flink-extensions/cc-flink-schema-converters/src/test/java/io/confluent/flink/formats/converters/protobuf/ProtoToFlinkSchemaConverterTest.java
  cc-flink-extensions/cc-flink-schema-converters/src/test/resources/schema/proto/all_simple_types.proto
  cc-flink-extensions/cc-flink-schema-converters/src/test/resources/schema/proto/not_null_message_types.proto
  cc-flink-extensions/cc-flink-schema-converters/src/test/resources/schema/proto/nullable_arrays.proto
  cc-flink-extensions/cc-flink-schema-converters/src/test/resources/schema/proto/nullable_collections.proto
  cc-flink-extensions/cc-flink-schema-converters/src/test/resources/schema/proto/strings.proto
  cc-flink-extensions/cc-flink-schema-registry/pom.xml
  cc-flink-extensions/cc-flink-schema-registry/src/main/resources/META-INF/NOTICE
  cc-flink-extensions/pom.xml
Owners: @confluentinc/flink-core, @confluentinc/flink-sql

[MATRIX-223] bucketize function implemetation
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/MLFunctionsModule.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/functions/MLBucketizeFunction.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/utils/mlutils/MlFunctionsUtil.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/functions/MLBucketizeFunctionTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/utils/mlutils/MlFunctionsUtilTest.java
Owners: @confluentinc/matrix

[MATRIX-223] function name changes
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/functions/MLBucketizeFunction.java
Owners: @confluentinc/matrix

[MATRIX-223] Improved argument comments, added copyright
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/MLFunctionsModule.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/functions/MLBucketizeFunction.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/utils/mlutils/MlFunctionsUtilTest.java
Owners: @confluentinc/matrix

[MATRIX-223] checkstyle correction
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/functions/MLBucketizeFunction.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/utils/mlutils/MlFunctionsUtil.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/utils/mlutils/MlFunctionsUtilTest.java
Owners: @confluentinc/matrix

[MATRIX-223] Added support for more data types for bucketNames array, Review comment changes
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/functions/MLBucketizeFunction.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/utils/mlutils/MlFunctionsUtil.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/functions/MLBucketizeFunctionTest.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/utils/mlutils/MlFunctionsUtilTest.java
Owners: @confluentinc/matrix

[MATRIX-223] checkstyle change
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/functions/MLBucketizeFunction.java
Owners: @confluentinc/matrix

[MATRIX-217] Elastic provider (#981)
  cc-flink-extensions/cc-flink-federated-search/src/main/java/io/confluent/flink/table/modules/search/formats/ElasticInputFormatter.java
  cc-flink-extensions/cc-flink-federated-search/src/main/java/io/confluent/flink/table/modules/search/providers/ElasticProvider.java
  cc-flink-extensions/cc-flink-federated-search/src/test/java/io/confluent/flink/table/modules/search/formats/ElasticInputFormatterTest.java
  cc-flink-extensions/cc-flink-federated-search/src/test/java/io/confluent/flink/table/modules/search/providers/ElasticProviderTest.java
Owners: @confluentinc/matrix

[MATRIX-223] Setting local time zone to UTC for test environment
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/functions/MLBucketizeFunctionTest.java
Owners: @confluentinc/matrix

[MATRIX-224] changed class and function name, refactored code to use util functions, refactored getTypeInference function of MLMinMaxScalerFunction class
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/MLFunctionsModule.java
  cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/functions/MLMinMaxScalerFunction.java
  cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/functions/MLMinMaxScalerFunctionTest.java
Owners: @confluentinc/matrix

[SQL-2050] tests for json schema reference (#985)
  cc-flink-extensions/cc-flink-schema-registry/pom.xml
  cc-flink-extensions/cc-flink-schema-registry/src/test/java/io/confluent/flink/formats/registry/json/JsonRegistryDeserializationSchemaTest.java
  cc-flink-extensions/cc-flink-schema-registry/src/test/java/io/confluent/flink/formats/registry/utils/TestKafkaSerializerConfig.java
Owners: @confluentinc/flink-sql

[FLINK-35619] Window rank query fails with 'must call validate first' (#24940) (#988)
  flink-table/flink-table-planner/src/main/java/org/apache/calcite/sql/validate/ProcedureNamespace.java
  flink-table/flink-table-planner/src/main/java/org/apache/flink/table/planner/functions/sql/SqlWindowTableFunction.java
Owners: @confluentinc/flink-core

[FLINKCC-983] Add dedicated JobGraphGenerator interface
  flink-runtime-web/src/main/java/org/apache/flink/runtime/rest/handler/job/ConfluentJobSubmitHandler.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/rest/handler/job/ConfluentJobSubmitHandlerTest.java
Owners: @confluentinc/flink-core

[FLINKCC-983] Use JobID as job name
  flink-runtime-web/src/main/java/org/apache/flink/runtime/rest/handler/job/ConfluentGeneratorUtils.java
  flink-runtime-web/src/main/java/org/apache/flink/runtime/rest/handler/job/ConfluentJobSubmitHandler.java
  flink-runtime-web/src/test/java/org/apache/flink/runtime/rest/handler/job/ConfluentJobSubmitHandlerTest.java
Owners: @confluentinc/flink-core

[NGN-348][hotfix] Fix comment and add annotation.
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/events/reporter/EventReporterFactory.java
  flink-metrics/flink-metrics-core/src/main/java/org/apache/flink/metrics/Reporter.java
Owners: @confluentinc/flink-core

[NGN-348][hotfix] Fix comment and add annotation.
  flink-metrics/flink-metrics-core/pom.xml
Owners: @confluentinc/flink-core

[FRT-499] Add util to check exception contains message
  cc-flink-extensions/cc-flink-failure-enrichers/src/main/java/io/confluent/flink/runtime/failure/TypeFailureEnricher.java
Owners: @confluentinc/flink-core

[FRT-499] Classify 'Not authorized to access group' as user-error
  cc-flink-extensions/cc-flink-failure-enrichers/src/main/java/io/confluent/flink/runtime/failure/TypeFailureEnricher.java
  cc-flink-extensions/cc-flink-failure-enrichers/src/test/java/io/confluent/flink/runtime/failure/TypeFailureEnricherKafkaTest.java
Owners: @confluentinc/flink-core

[FRT-476] Adds main thread callback to AsyncWaitOperator (#902)
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/functions/async/ResultFuture.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperator.java
  flink-streaming-java/src/main/java/org/apache/flink/streaming/api/operators/async/queue/StreamElementQueueEntry.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/api/operators/async/AsyncWaitOperatorTest.java
  flink-streaming-java/src/test/java/org/apache/flink/streaming/runtime/tasks/StreamTaskMailboxTestHarness.java
  flink-table/flink-table-planner/src/test/java/org/apache/flink/table/planner/codegen/AsyncCodeGeneratorTest.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/collector/TableFunctionResultFuture.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/calc/async/DelegatingAsyncResultFuture.java
  flink-table/flink-table-runtime/src/main/java/org/apache/flink/table/runtime/operators/join/lookup/AsyncLookupJoinRunner.java
Owners: @confluentinc/flink-core

.github/CODEOWNERS:

*	@confluentinc/flink-core

cc-flink-extensions/cc-flink-table-extended	@confluentinc/flink-sql
cc-flink-extensions/cc-flink-managed-table-validation	@confluentinc/flink-sql @confluentinc/flink-storage
cc-flink-extensions/cc-flink-schema-converters	@confluentinc/flink-sql
cc-flink-extensions/cc-flink-schema-registry	@confluentinc/flink-sql
flink-connectors/confluent-connector-kafka  @confluentinc/flink-storage

# Matrix specific extension code
cc-flink-extensions/cc-flink-ml-functions/	@confluentinc/matrix
cc-flink-extensions/cc-flink-federated-search/	@confluentinc/matrix
cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/modules/ml/	@confluentinc/matrix
cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/modules/ml/	@confluentinc/matrix
cc-flink-extensions/cc-flink-table-extended/src/main/java/io/confluent/flink/table/utils/mlutils/ @confluentinc/matrix
cc-flink-extensions/cc-flink-table-extended/src/test/java/io/confluent/flink/table/utils/mlutils/ @confluentinc/matrix
